section#sponsors
  .container
    .row
      .col-md-12.text-center
        h2.section-heading Unsere Sponsoren
        h3.section-subheading.text-muted
          | Die Tickets sind – nur dank unserer Sponsoren – gratis!
    .row.biggest
      .col-xs-12.text-center
        //- h4 Track Sponsors
        .row
          a.sponsor.col-md-6(
              href='http://fh-salzburg.ac.at/',
              title='University of Applied Science Salzburg'
            )
            img.img-responsive.img-centered(
              width='555',
              height='202',
              src='images/logos/fh.jpg', 
              srcset='images/logos/fh@2x.jpg 2x',
              alt='University of Applied Sciences Salzburg'
            )
          .clearfix.visible-sm
          a.sponsor.free.col-md-6(
              href='http://pixelart.at/',
              title='Pixelart'
            )
            img.img-responsive.img-centered(
              width='555',
              height='202',
              src='images/logos/pixelart.jpg', 
              alt='Pixelart'
            )
